<section class="header-container">
    <div class="logo">
        <img src="../../../assets/img/logo.png">
    </div>
    <div class="search-container">
        <input type="text" class="search-field" placeholder="search for pokemon" *ngIf="language == 'english'">
        <input type="text" class="search-field" placeholder="suche nach einem Pokemon" *ngIf="language == 'german'">
        <a href="#" *ngIf="language == 'english'"> search </a>   
        <a href="#" *ngIf="language == 'german'"> suchen </a>    
    </div>
    <div class="languages">
        <img src="../../../assets/img/languages/english.png">
    </div>
</section>