<section (click)="openCard()" [ngClass]="{'grass': this.PokemonObject.types[0].type.name == 'grass','fire': this.PokemonObject.types[0].type.name == 'fire', 'water': this.PokemonObject.types[0].type.name == 'water', 'bug': this.PokemonObject.types[0].type.name == 'bug', 'poison': this.PokemonObject.types[0].type.name == 'poison', 'ground': this.PokemonObject.types[0].type.name == 'ground', 'electric': this.PokemonObject.types[0].type.name == 'electric', 'fairy': this.PokemonObject.types[0].type.name == 'fairy', 'fighting': this.PokemonObject.types[0].type.name == 'fighting', 'psychic': this.PokemonObject.types[0].type.name == 'psychic', 'rock': this.PokemonObject.types[0].type.name == 'rock', 'ghost': this.PokemonObject.types[0].type.name == 'ghost', 'ice': this.PokemonObject.types[0].type.name == 'ice', 'dragon': this.PokemonObject.types[0].type.name == 'dragon', 'dark': this.PokemonObject.types[0].type.name == 'dark', 'steel': this.PokemonObject.types[0].type.name == 'steel'}">
        <div>id: {{PokemonObject.id}}</div>
        <div>name: {{PokemonObject.name}}</div>
        <div>typ: @for (type of PokemonObject.types; track type; let index = $index) {
            {{PokemonObject.types[index].type.name}},
            }
        </div>
    <div class="Pokemon-img"><img src="{{PokemonObject.sprites.other.dream_world.front_default}}"></div>
</section>
<app-single-pokemon-info *ngIf="openSinglePokemonInfo == true" (CloseInfo)="CloseInfoContainer()" [Pokemon]="PokemonObject"></app-single-pokemon-info>