section {
    background-color: rgb(2, 16, 30);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;

    input {
        height: 30px;
        width: 200px;
        padding-left: 10px;
        border-radius: 10px;
    }
}

.logo {
    margin-left: 100px;

    &:hover {
        transform: rotate(360deg);
    }
}

.search-container {
    width: 500px;
    margin-right: 100px;
    display: flex;

    a {
        margin-left: 20px;
        display: block;
        color: whitesmoke;
        text-decoration: none;
        font-size: 20px;
        border: 1px solid whitesmoke;
        width: 100px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            font-size: 25px;
            color:rgb(5, 23, 41);
            background-color:whitesmoke;
        }
    }
}

.languages {
    p{
        color:white;
    }
    &:hover {
        cursor: pointer;
    }
}

.filter-container{
    position:absolute;
    top:100px;
    left:100px;
    right:100px;
    height:200px;
    z-index:3;
    background-color:rgb(2, 16, 30);
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    input{
        width:20px;
        margin-left:20px;
        margin-right:20px;
    }
    div{
        color:whitesmoke;
        font-size:20px;
        display: flex;
        align-items: center;
        flex-wrap:wrap;
    }
}

.widerButton{
    width:120px !important;
}