<section class="header-container">
    <div class="logo">
        <img src="/assets/img/logo1.png">
    </div>
    <div class="search-container">
        @if(language == 'german'){
        <input [(ngModel)]="searchValue" type="text" class="search-field" placeholder="suche nach einem Pokemon">
        <a href="#" (click)="search()"> suchen </a>
        <a href="#" (click)="openFilter()">Filter</a>
        }@else{
        <input [(ngModel)]="searchValue" type="text" class="search-field" placeholder="search for a pokemon">
        <a href="#" (click)="search()"> search </a>
        <a href="#" (click)="openFilter()">filter</a>
        }

    </div>
    <div class="languages" (click)="switchLanguage()">
        <img src="./assets/img/languages/{{language}}.png">
    </div>
    @if(openFilterContainer==true){
    <div class="filter-container">
        <div class="single-type" *ngFor="let types of types">
            <div>
                <input type="checkbox" id="{{types}}" (click)="sendFilterToLandingPage(types)">
                <div>{{types}}</div>
            </div>
        </div>
    </div>
    }
</section>