<app-header id="top" [types]="allTypes" [Pokemon]="this.Pokemon" (IndexOfSearchedPokemon)="searchPokemonWithIndex($event)" (filter)="collectFilter($event)" (Language)="changeLanguage($event)"></app-header>
<section class="landingPage-Background">
    <div class="all-Pokemon">
        <aside class="single-Pokemon" *ngFor="let PokemonObj of Pokemon">
            <app-single-pokemon-card [PokemonObject]="PokemonObj" [usedLanguage]="usedLanguage" [namesInGerman]="namesInGerman" [typesInGerman]="typesInGerman"></app-single-pokemon-card>
        </aside>
    </div>
    <div *ngIf="!this.activeSearch" (click)="loadMorePokemon()">
        <a *ngIf="!this.activeSearch && this.usedLanguage == 'english'">load 20 more</a>
        <a *ngIf="!this.activeSearch && this.usedLanguage == 'german'">lade 20 weitere</a>
    </div>
    <div *ngIf="this.activeSearch" (click)="renderOldVersionOfPokemon()">
        <a *ngIf="this.activeSearch && this.usedLanguage == 'english'">back</a>
        <a *ngIf="this.activeSearch && this.usedLanguage == 'german'">zurück</a>
    </div>
    <div class="backToTop">
        <a href="#top" class="goToTop"><img src="../../assets/img/arrowUp1.png"></a>
    </div>
</section>
<app-footer [usedLanguage]="usedLanguage"></app-footer>