section {
    font-family: 'Aoboshi One', sans-serif;
    color: white;
    font-size: 30px;
    background-color: rgb(5, 23, 41);
    width: 100%;
    min-height: 86vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
        position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 95%;
        height: 95%;
    }

    aside{
        margin:20px;
        display:flex;
    }

    a{
        border:3px solid whitesmoke;
        border-radius:10px;
        padding:5px;
        text-align:center;
        margin:20px;
        &:hover{
            cursor:pointer;
            background-color:whitesmoke;
            color:rgb(5, 23, 41);
        }
    }
}